## Download and Clean Dataset

In [1]:
import pandas as pd
import numpy as np

Let's download the data and read it into a pandas dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

### Check and Clean Data

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

## Task 1 split the Data

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [7]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [8]:
# Allows us to split our data into training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split( predictors_norm, target, test_size=0.3)

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

In [9]:
X_train.shape

(721, 8)

Let's save the number of predictors to n_cols since we will need this number when building the network.

In [10]:
n_cols = X_train.shape[1] # number of predictors

### Import Keras

In [11]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

### Build a Neural Network

Let's build a neural network with three hidden layers of **10** nodes and **ReLU** activation function, and use **adam** optimizer and the **mean squared error** as the loss function

In [12]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

## Tast 2 Train and Test the Network

In [13]:
# build the model
model = regression_model()

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Train the model on the training data using **50** epochs

In [14]:
# fit the model
model.fit(X_train, Y_train, epochs=50, verbose=2)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/50

2023-07-16 17:09:26.509722: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2023-07-16 17:09:26.527118: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2394285000 Hz
2023-07-16 17:09:26.528012: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x55785118e270 executing computations on platform Host. Devices:
2023-07-16 17:09:26.528091: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2023-07-16 17:09:26.766316: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

 - 1s - loss: 1570.1176
Epoch 2/50
 - 0s - loss: 1552.3125
Epoch 3/50
 - 0s - loss: 1537.3081
Epoch 4/50
 - 0s - loss: 1518.9801
Epoch 5/50
 - 0s - loss: 1490.0554
Epoch 6/50
 - 0s - loss: 1442.2910
Epoch 7/50
 - 0s - loss: 1362.8788
Epoch 8/50
 - 0s - loss: 1236.9918
Epoch 9/50
 - 0s - loss: 1059.6023
Epoch 10/50
 - 0s - loss: 843.0198
Epoch 11/50
 - 0s - loss: 641.5883
Epoch 12/50
 - 0s - loss: 492.4018
Epoch 13/50
 - 0s - loss: 391.6993
Epoch 14/50
 - 0s - loss: 317.5388
Epoch 15/50
 - 0s - loss: 264.3175
Epoch 16/50
 - 0s - loss: 231.2889
Epoch 17/50
 - 0s - loss: 210.2561
Epoch 18/50
 - 0s - loss: 198.5804
Epoch 19/50
 - 0s - loss: 190.5139
Epoch 20/50
 - 0s - loss: 184.5082
Epoch 21/50
 - 0s - loss: 179.9891
Epoch 22/50
 - 0s - loss: 176.1853
Epoch 23/50
 - 0s - loss: 172.5313
Epoch 24/50
 - 0s - loss: 169.6847
Epoch 25/50
 - 0s - loss: 166.7538
Epoch 26/50
 - 0s - loss: 164.6038
Epoch 27/50
 - 0s - loss: 161.9422
Epoch 28/50
 - 0s - loss: 160.1691
Epoch 29/50
 - 0s - loss: 158.5382
Epoch 30/50
 - 0s - loss: 156.2997
Epoch 31/50
 - 0s - loss: 154.5989
Epoch 32/50
 - 0s - loss: 153.3278
Epoch 33/50
 - 0s - loss: 151.9700
Epoch 34/50
 - 0s - loss: 150.3293
Epoch 35/50
 - 0s - loss: 148.7152
Epoch 36/50
 - 0s - loss: 147.3542
Epoch 37/50
 - 0s - loss: 145.6269
Epoch 38/50
 - 0s - loss: 144.3887
Epoch 39/50
 - 0s - loss: 143.2202
Epoch 40/50
 - 0s - loss: 142.1180
Epoch 41/50
 - 0s - loss: 141.1046
Epoch 42/50
 - 0s - loss: 139.4726
Epoch 43/50
 - 0s - loss: 138.4836
Epoch 44/50
 - 0s - loss: 137.5932
Epoch 45/50
 - 0s - loss: 136.6662
Epoch 46/50
 - 0s - loss: 135.5476
Epoch 47/50
 - 0s - loss: 134.9239
Epoch 48/50
 - 0s - loss: 133.9163
Epoch 49/50
 - 0s - loss: 133.0274
Epoch 50/50
 - 0s - loss: 132.1205

## Task 3 Evaluate the model

In [15]:
import sklearn.metrics as metrics

In [16]:
predictions = model.predict(X_test)
Model_Accuracy = metrics.mean_squared_error(Y_test, predictions)
print("Netrual Network Model Accuracy Score: %.2f" % Model_Accuracy)

Netrual Network Model Accuracy Score: 122.32

## Task 4 Repeat Task 1 to 3 50 times

In [17]:
# repeat times
N_repeats = 50

#empty list to save mean_squared_error data
Model_Accuracy = []
#
for i in range(N_repeats):
    #split data
    X_train, X_test, Y_train, Y_test = train_test_split( predictors_norm, target, test_size=0.3)
    
    # build the model
    #build a new model every loop cost more time, but if not, the loop works on the same model 50 times
    model = regression_model()
    
    # fit the model
    model.fit(X_train, Y_train, epochs=50, verbose=0)   #here set verbose = 0 to hide the message
    
    #Evaluate model
    predictions = model.predict(X_test)
    temp = metrics.mean_squared_error(Y_test, predictions)
    Model_Accuracy.append(temp)

In [18]:
len(Model_Accuracy)

50

## Task 5 Report mean and standard deviation of the mean squared errors

In [19]:
model_mean = np.mean(Model_Accuracy)
model_std = np.std(Model_Accuracy)
print("The mean of mean squared erros of 50 runs:", model_mean)
print("The standard deviation of mean squared erros of 50 runs:", model_std)

The mean of mean squared erros of 50 runs: 130.14562994797777
The standard deviation of mean squared erros of 50 runs: 15.705300723524452